body {
  overflow-y: auto !important;
}

#app {
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, Hiragino Kaku Gothic Pro,
    Meiryo, MS Gothic, sans-serif;
  font-size: 12px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
h2 {
  font-size: 2.2em;
  line-height: 1em;
  margin: 40px;
  margin-bottom: 10px;
}

a {
  color: white;
  text-decoration: underline;
}

h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}
