#top_menu {
  .logo {
    filter: drop-shadow(2px 2px 4px black);
  }
  .menu li:not([data-kcd]) {
    display: none !important;
  }
}

#logout {
  margin-top: 32px;
  border-right-color: red !important;
}

.kcd-about.update-available {
  animation: update-available 2s infinite;
}

@keyframes update-available {
  0% {
    background-color: rgba(64, 64, 0, 0.7);
  }
  50% {
    background-color: rgba(64, 64, 0, 0.9);
  }
  100% {
    background-color: rgba(64, 64, 0, 0.7);
  }
}

$menus: ("about", "history");
@each $menu in $menus {
  .view_#{$menu} {
    .kcd-#{$menu}:not(#dummy) {
      position: relative;
      margin-right: 0px;
      margin-left: 10px;
      color: var(--color-primary);
      background: rgba(0, 0, 0, 0.5);
      border-left: 4px var(--color-primary) solid;
    }

    #bottom-view-#{$menu} {
      display: block;
    }
  }
}

.bottom-view {
  display: none;

  position: relative;
  width: 100%;
  height: 100%;
  margin: 5px auto 0px auto;
  padding: 0px 10px 0px 0px;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 25;
  grid-row: 6/8;
  grid-column: 2/5;
  background: rgba(0, 0, 0, 0.5);

  iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: 900px) {
    grid-row: 5/7;
    grid-column: 2/3;
  }

  .logo_mini {
    display: none;
    opacity: 0.7;
    position: absolute;
    left: 0px;
    top: 25px;
    z-index: 40;
    text-align: center;
    height: 100px;
    width: 120px;
    img {
      width: 70px;
    }

    .logo_cafe {
      margin-top: 5px;
      font-size: 10px;
    }
  }
  @media screen and (max-width: 1050px) {
    .logo_mini {
      display: block;
    }
    iframe {
      padding-left: 150px;
      width: calc(100% - 150px);
    }
  }
}

#cafe_info .logo_mini .logo_cafe {
  margin-top: 4px;
}
